# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/idea/.name
/idea/misc.xml
/idea/modules.xml
/idea/uiDesigner.xml
/idea/vcs.xml
/idea/workspace.xml
/out
/BookManagement2.iml